In [1]:
import pandas as pd

In [6]:
data = pd.read_json('results/token_data.json')

data.head()

,chain,event_created,event_id,event_tokenCount,event_transferCount,owner_id,token_created,token_id,token_transferCount
0,gnosis_chain,1647048050,31891,82,82,0x64eb4e702e6b07855ce3049620e15868f683bcfd,1647104345,4369905,1
1,gnosis_chain,1647078275,31560,159,159,0xdbf04a799f96f1409f4ac1aa9ce5a324fbc9d5e6,1647104350,4369906,1
2,gnosis_chain,1647014555,31889,125,125,0x4ddb5422d07ae9c9607495fff9a8d9ed07b9cb96,1647104360,4369907,1
3,gnosis_chain,1646932545,32078,495,495,0xfbaec1c6cf36c0e5ad25ac1f6136596475c6a24d,1647104365,4369908,1
4,gnosis_chain,1647014555,31889,125,125,0x3b1723f55644016d1b3b093f9586a37c791806c4,1647104420,4369909,1

In [7]:
data.groupby('chain').agg(last_id=('token_created', 'max'))

                 last_id
chain
gnosis_chain  1647109000

In [4]:
data.groupby('token_id').agg(count=('token_id', 'count')).reset_index().sort_values('count', ascending=False).head(10)

      token_id  count
1100   1034500      8
1183   1044750      8
1109   1035823      8
1053   1018849      8
1200   1046362      8
1058   1019219      8
1256   1055031      7
1421   1071147      7
1181   1044688      7
1255   1055002      7

In [ ]:
data.loc[data.token_id==4349554]

In [ ]:
import json

teste = [{'a':'b'}, {'c': 'd'}]

print(type(json.dumps(teste)))

In [ ]:
data.sort_values('token_id', ascending=False).loc[:, 'token_id'].values[0]

In [ ]:
t = {}

t['eth'] = int(data.sort_values('token_id', ascending=False).loc[:, 'token_id'].values[0])

with open('teste.json', "w") as outfile:
            json.dump(t, outfile)

In [ ]:
with open('teste.json', 'r') as readfile:
        x = json.load(readfile)
        
print(x['eth'])